body {
  font-family: "Poppins", sans-serif;
}

.search {
  background: linear-gradient(#000000de, #000000d5),
    url(https://picsum.photos/1080/720?random=1);
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.search-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15%;
}

.search-content h1,
.search-content p {
  color: #fff;
}
.search-content h1 {
  font-size: 120px;
}

.search-content p {
  font-size: 20px;
  font-weight: 300;
}
