body {
  font-family: "Poppins", sans-serif;

  background-color: #1a1c1e;
  transition: all 0.3s;
}

.search {
  background: linear-gradient(#0000008c, #000000d1),
    url(https://picsum.photos/1080/720?random=1);
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header {
  position: relative;
}
.header-wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.search-content h1,
.search-content p {
  color: #fff;
}
.search-content h1 {
  font-size: 120px;
}

.search-content p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 35px;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.search-wrapper input {
  width: 68%;
  margin-right: 15px;
  padding: 12px;
  position: relative;
  border-radius: 5px;
  border: none;
  outline: none;
}

.search-wrapper button {
  padding: 12px 25px;
}

.footer {
  color: #ddd;
  padding-top: 30px;
  font-weight: 300;
  letter-spacing: 1;
}

@media screen and (max-width: 992px) {
  .search-content h1 {
    font-size: 75px;
    transition: all 0.3s;
  }
}
@media screen and (max-width: 576px) {
  .search-content h1 {
    font-size: 60px;
    transition: all 0.3s;
  }
  .search-wrapper {
    flex-direction: column;
  }
  .search-wrapper input,
  .search-wrapper button {
    padding: 8px;
  }
  .search-wrapper button {
    padding: 8px 25px;
  }
}
